In [88]:
# Importing required libraries
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [89]:
df = pd.read_csv("../apestogetherstrong/COVID_DATA_COLUMNS.csv")
df.head()

,date,death,deathIncrease,hospitalizedIncrease,hospitalizedCurrently,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease
0,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,1791481
1,12/22/2020,314099,3137,4567,117777,56438180,268046,18142686,193008,239432397,1770133
2,12/21/2020,310962,1480,3111,115358,56170134,439796,17949678,179406,237662264,1974590
3,12/20/2020,309482,1668,2382,113601,55730338,249266,17770272,197494,235687674,1821629
4,12/19/2020,307814,2708,3429,113914,55481072,200763,17572778,204873,233866045,1859539

In [90]:
df2 = pd.read_csv("../EDA/EQUITY_DATA_COLUMNS.csv")

In [91]:
df2.head()

,Unnamed: 0,Unnamed: 0.1,symbol,date,change,changePercent,close,high,iexClose,industry,low,marketCap,maxChangePercent,open,sector,volume
0,0,0,PJUL,8/19/2020,0.020,0.00072,27.779,27.84,27.710,Investment Trusts/Mutual Funds,27.76,1.160650e+08,0.0494,27.779,Miscellaneous,3283
1,1,1,PIM,8/19/2020,-0.030,-0.00704,4.260,4.26,4.240,Investment Trusts/Mutual Funds,4.23,2.190971e+08,-0.3185,4.260,Miscellaneous,31824
2,2,2,PJH,8/19/2020,-0.004,-0.00016,25.370,25.45,25.365,Financial Conglomerates,25.35,1.001957e+10,0.0152,25.450,Finance,82086
3,3,3,PJT,8/19/2020,-0.135,-0.00229,59.020,59.67,58.885,Investment Banks/Brokers,58.60,1.415189e+09,0.7452,59.000,Finance,23896
4,4,4,PKBK,8/19/2020,0.640,0.04992,NaN,13.46,13.460,Regional Banks,12.89,1.594889e+08,3.8561,0.000,Finance,2365

In [92]:
del df2['Unnamed: 0']
df2.head()

,Unnamed: 0.1,symbol,date,change,changePercent,close,high,iexClose,industry,low,marketCap,maxChangePercent,open,sector,volume
0,0,PJUL,8/19/2020,0.020,0.00072,27.779,27.84,27.710,Investment Trusts/Mutual Funds,27.76,1.160650e+08,0.0494,27.779,Miscellaneous,3283
1,1,PIM,8/19/2020,-0.030,-0.00704,4.260,4.26,4.240,Investment Trusts/Mutual Funds,4.23,2.190971e+08,-0.3185,4.260,Miscellaneous,31824
2,2,PJH,8/19/2020,-0.004,-0.00016,25.370,25.45,25.365,Financial Conglomerates,25.35,1.001957e+10,0.0152,25.450,Finance,82086
3,3,PJT,8/19/2020,-0.135,-0.00229,59.020,59.67,58.885,Investment Banks/Brokers,58.60,1.415189e+09,0.7452,59.000,Finance,23896
4,4,PKBK,8/19/2020,0.640,0.04992,NaN,13.46,13.460,Regional Banks,12.89,1.594889e+08,3.8561,0.000,Finance,2365

In [93]:
del df2['Unnamed: 0.1']
df2.head()

,symbol,date,change,changePercent,close,high,iexClose,industry,low,marketCap,maxChangePercent,open,sector,volume
0,PJUL,8/19/2020,0.020,0.00072,27.779,27.84,27.710,Investment Trusts/Mutual Funds,27.76,1.160650e+08,0.0494,27.779,Miscellaneous,3283
1,PIM,8/19/2020,-0.030,-0.00704,4.260,4.26,4.240,Investment Trusts/Mutual Funds,4.23,2.190971e+08,-0.3185,4.260,Miscellaneous,31824
2,PJH,8/19/2020,-0.004,-0.00016,25.370,25.45,25.365,Financial Conglomerates,25.35,1.001957e+10,0.0152,25.450,Finance,82086
3,PJT,8/19/2020,-0.135,-0.00229,59.020,59.67,58.885,Investment Banks/Brokers,58.60,1.415189e+09,0.7452,59.000,Finance,23896
4,PKBK,8/19/2020,0.640,0.04992,NaN,13.46,13.460,Regional Banks,12.89,1.594889e+08,3.8561,0.000,Finance,2365

In [94]:
provisional_db_merged = pd.merge(df, df2, how='inner', on = 'date')

In [95]:
provisional_db_merged.head()

,date,death,deathIncrease,hospitalizedIncrease,hospitalizedCurrently,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,...,close,high,iexClose,industry,low,marketCap,maxChangePercent,open,sector,volume
0,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,33.38,33.78,33.39,Securities and Commodity Exchanges,33.19,3.210307e+09,-0.038830,33.35,Finance and Insurance,253686
1,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,55.75,56.95,55.80,Postal Service,55.65,1.534089e+09,0.252809,56.17,Transportation and Warehousing,204895
2,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,117.30,118.89,117.28,Testing Laboratories,117.22,3.599345e+10,4.140723,118.00,"Professional, Scientific, and Technical Services",1202061
3,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,1.28,1.30,1.27,Professional and Management Development Training,1.18,3.113344e+07,0.914734,1.21,Educational Services,78500
4,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,2.09,2.11,2.11,Third Party Administration of Insurance and Pe...,2.07,4.266584e+07,-0.240442,2.06,Finance and Insurance,13005

In [96]:
provisional_db_merged.shape

(690323, 24)

In [72]:
provisional_db_merged.to_csv(r'provisional_db.csv')

PermissionError: [Errno 13] Permission denied: 'provisional_db.csv'

In [100]:
## Adding new column 'Change in  hospitalized'
provisional_db_merged['diff'] = provisional_db_merged.sort_values(['date', 'pos itive']).groupby('date')['positive'].diff()
provisional_db_merged.head()

,date,death,deathIncrease,hospitalizedIncrease,hospitalizedCurrently,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,...,high,iexClose,industry,low,marketCap,maxChangePercent,open,sector,volume,diff
0,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,33.78,33.39,Securities and Commodity Exchanges,33.19,3.210307e+09,-0.038830,33.35,Finance and Insurance,253686,NaN
1,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,56.95,55.80,Postal Service,55.65,1.534089e+09,0.252809,56.17,Transportation and Warehousing,204895,0.0
2,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,118.89,117.28,Testing Laboratories,117.22,3.599345e+10,4.140723,118.00,"Professional, Scientific, and Technical Services",1202061,0.0
3,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,1.30,1.27,Professional and Management Development Training,1.18,3.113344e+07,0.914734,1.21,Educational Services,78500,0.0
4,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,2.11,2.11,Third Party Administration of Insurance and Pe...,2.07,4.266584e+07,-0.240442,2.06,Finance and Insurance,13005,0.0

In [87]:
provisional_db_merged.head()

,date,death,deathIncrease,hospitalizedIncrease,hospitalizedCurrently,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,...,close,high,iexClose,industry,low,marketCap,maxChangePercent,open,sector,volume
0,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,33.38,33.78,33.39,Securities and Commodity Exchanges,33.19,3.210307e+09,-0.038830,33.35,Finance and Insurance,253686
1,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,55.75,56.95,55.80,Postal Service,55.65,1.534089e+09,0.252809,56.17,Transportation and Warehousing,204895
2,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,117.30,118.89,117.28,Testing Laboratories,117.22,3.599345e+10,4.140723,118.00,"Professional, Scientific, and Technical Services",1202061
3,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,1.28,1.30,1.27,Professional and Management Development Training,1.18,3.113344e+07,0.914734,1.21,Educational Services,78500
4,12/23/2020,317492,3393,4795,119463,56743142,304962,18367212,224526,241223878,...,2.09,2.11,2.11,Third Party Administration of Insurance and Pe...,2.07,4.266584e+07,-0.240442,2.06,Finance and Insurance,13005

In [54]:
provisional_db_merged['Variation'].value_counts()

Series([], Name: Variation, dtype: int64)